*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    background-color: black;
}
body{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:30px;
}
.box{
    height: 200px;
    width: 200px;
    transition: all 0.3s linear;
}
.red{
    background-color: rgb(90, 3, 3);
}
.blue{
    background-color: rgb(7, 7, 95);
}
.green{
    background-color: rgb(3, 61, 3);
}

body:has(.box:hover) .box{
    transform: scale(0.8);
    opacity: 0.5;
}
.box:hover{
    transform: scale(1.2) !important;
    opacity: 1 !important;

}



/* .anchor{
    border-radius: 10px;
    position: absolute;
    left: anchor(left);
    top:anchor(top);
    bottom: anchor(bottom);
    right: anchor(right);
    pointer-events: none;
    background-color:rgb(255, 255, 255);
    position-anchor: --some;
    transition:all 0.3s linear;
    mix-blend-mode: difference;
} */
